* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  width: auto;
  display: flex;
  justify-content: center;
}

.container-principal {
  position: relative; /* ALTERAÇÃO: adicionei para LEDs e botão */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 400px;
  height: 500px; /* ALTERAÇÃO: altura definida para a tela aparecer */
  background-color: black;
}

#poke {
  width: 100%; /* ALTERAÇÃO: ajustar largura automática */
  height: 100%; /* ALTERAÇÃO: ocupa altura do container */
  max-height: 1300px; /* limita altura máxima */
}

.versao{
  position: absolute;
}

.versao p {
  position: relative;
  bottom: 150px;
  left: 80px;
  color: rgb(247, 178, 178);
}

.turn-on {
  width: 30px;
  position: absolute;
  top: 64%; /* ALTERAÇÃO: posicionei em relação ao container */
  right: 67.5%;
}

#power {
  background-color: #d12429;
  border-radius: 50px;
  width: 30px;
  height: 30px;
  font-size: 10px;
  color: white;
  border: solid 3px black;
  cursor: pointer;
}

.btn-select{
  position: absolute;
  top: 72%;
  right: 73.5%;
}

#select{
  width: 39px;
  height: 39px;
  background-color: #595a5c;
  border-radius: 50%;
  border: 1px solid black;
  box-shadow: -2px 2px 0px rgba(0, 0, 0, 1);
  cursor: pointer
;
}

.leds {
  position: absolute;
  top: 8.5%; /* ALTERAÇÃO: LEDs posicionados em relação ao container */
  left: 31%;
  display: flex;
  gap: 5px;
}

.leds button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: solid 3px black;
  background-color: black;
  transition: background-color 0.2s ease;
}

/* Classes de piscar */
.piscando-red {
  animation: piscarRed 2s infinite; /* ALTERAÇÃO: padronizei a duração */
}

.piscando-yellow {
  animation: piscarYellow 4s infinite;
}

.piscando-green {
  animation: piscarGreen 3s infinite;
}

@keyframes piscarRed {
  0%,
  50%,
  100% {
    background-color: red;
  }
  25%,
  75% {
    background-color: black;
  }
}

@keyframes piscarYellow {
  0%,
  50%,
  100% {
    background-color: yellow;
  }
  25%,
  75% {
    background-color: black;
  }
}

@keyframes piscarGreen {
  0%,
  50%,
  100% {
    background-color: green;
  }
  25%,
  75% {
    background-color: black;
  }
}

@media (max-width: 1100px) {
  body {
    background-color: black;
  }

}
